<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="SERVICE_NAME" value="${SERVICE_NAME:-contingent}"/>
    <property name="LOG_CONT_LEVEL" value="${LOG_CONT_LEVEL:-debug}"/>
    <property name="LOG_COMMON_LEVEL" value="${LOG_COMMON_LEVEL:-error}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level[%marker] %logger{36} - %msg%n%mdc%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.ak" level="${LOG_CONT_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="Application" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="${LOG_COMMON_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
